
:root {
    --background-color: white;
    --text-color: var(--secondary-color);
    --primary-color: orangered;
    --secondary-color: black;
    --heading-color: var(--primary-color);
    --link-color: var(--secondary-color);
    --link-hover-color: var(--background-color);
    --border-radius: 5px;
    --box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.75);
    --transition-duration: 0.3s;
    --font-size-large: 20px;
    --font-size-medium: 15px;
    --font-size-small: 10px;
    --padding: 10px 20px;
    --margin: 10px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    /* padding: 20px; */
    width: 100vw;
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
}

.wrapper {
    /* margin: var(--margin); */
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    position: sticky;
    top: 0;
    box-shadow: var(--box-shadow);
    font-weight: bolder;
}

.title {
    font-size: var(--font-size-large);
    display: flex;
    align-items: center;
}

.title hr {
    height: 60px;
    background-color: var(--heading-color);
    width: 10px;
    margin: 25px;
}

.dropbtn {
    visibility: hidden;
}

.dropdown {
    justify-content: center;
    align-content: center;
}

.dropdown-content {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--font-size-large);
}

.dropdown-content a {
    padding: 1cm;
    text-decoration: none;
    color: var(--link-color);
}

.dropdown-content a:hover {
    scale: 1.1;
    text-decoration: underline;
}

label {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
}

#darkmode:checked + .wrapper {
    background-color: var(--secondary-color);
    color: var();
    --primary-color: Grey;
    --link-color: white;
    --secondary-color: white;
}

.hero {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    margin-top: 3cm;
    justify-content: space-around;
}

.hero-title {
    padding: 2cm;
    font-size: var(--font-size-large);
    color: var(--background-color);
}

.hero-title p {
    padding: 20px 0px 20px 0px;
    font-size: var(--font-size-medium);
}

.download {
    background-color: var(--secondary-color);
    height: 100px;
    padding: 20px;
    align-content: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    color: var(--background-color);
    text-decoration: none;
}
.download i{
    color: var(--background-color);
}

.hero-image img {
    margin: -8cm 0cm -1cm 0;
    width: 600px;
}

.banner {
    margin-top: 8%;
    display: flex;
    font-size: 40px;
    justify-content: space-evenly;
    border: 5px solid var(--secondary-color);
    border-radius: 100px;
    box-shadow: var(--box-shadow);
}

.banner1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner hr {
    height: 100px;
    margin: 45px;
    width: 10px;
    background-color: var(--secondary-color);
}

.banner i {
    font-size: 70px;
    color: var(--background-color);
}

.reward-background {
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 50%;
    align-content: center;
    text-align: center;
}

.reward-font {
    padding: 15px;
}

.reward-font div {
    color: var(--primary-color);
}

.skill {
    margin: 10cm 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.skill div:hover {
    scale: 1.1;
}

.skills i {
    font-size: 250px;
    margin: 10%;
}

.recentproject {
    margin: 1cm;
}

.recentproject-heading {
    text-align: center;
    font-size: var(--font-size-large);
}

.projectflex {
    text-align: center;
}

.project-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1cm;
    margin: 1cm;
}

.project-details iframe {
    height: 500px;
    width: 100%;
}

.project-details a {
    box-shadow: var(--box-shadow);
    height: 100%;
    width: 45%;
}

.about1 {
    background-color: bisque;
}

.aboutme {
    font-size: var(--font-size-large);
    text-align: center;
}

.aboutme-body {
    /* display: flex; */
    flex-direction: row;
    font-size: var(--font-size-large);
    justify-content: space-around;
}

.aboutme-body div img {
    width: 600px;
    margin: -9cm 0 -1cm 0;
    transform: scaleX(-1);
}

.social-contact {
    font-size: var(--font-size-large);
    text-align: center;
    padding: 3cm;
}

.social-container {
    justify-content: space-between;
    font-size: 100px;
    margin: 2cm;
}

.social-container a {
    padding: 80px;
    color: var(--link-color);
    text-decoration: none;
}

.contact-email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4cm;
}

.email {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 150px;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

footer {
    background-color: var(--secondary-color);
}

.scroll {
    display: inline-block;
    justify-content: right;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    bottom: 50px;
    right: 100px;
    position: fixed;
    z-index: 1000;
    font-size: 50px;
    background-color: var(--primary-color);
    color: var(--background-color);
    align-content: center;
    box-shadow: var(--box-shadow);
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--font-size-medium);
    color: var(--background-color);
    margin: 2cm;
}

.links {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.links a {
    margin: 10px;
    color: var(--background-color);
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.bottom-text {
    height: 50px;
    color: var(--background-color);
    text-align: center;
    font-size: var(--font-size-medium);
}

@media screen and (width <1200px) {
    .dropbtn {
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: var(--padding);
        font-size: var(--font-size-large);
        border: none;
        cursor: pointer;
        border-radius: 50px;
        visibility: visible;
        box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: var(--primary-color);
        min-width: 160px;
        box-shadow: var(--box-shadow);
        z-index: 1;
    }

    .dropdown-content a {
        color: var(--link-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: var(--link-hover-color);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: var(--secondary-color);
    }

    .banner {
        display: flex;
        flex-direction: column;
    }

    .aboutme-body {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    

    .title {
        font-size: var(--font-size-medium);
    }

    .hero {
        flex-direction: column;
        text-align: center;
        margin-top: 1cm;
    }

    .hero-title {
        padding: 1cm;
        font-size: var(--font-size-medium);
    }

    .hero-image img {
        width: 100%;
        margin: 0;
    }

    .banner {
        flex-direction: column;
        font-size: var(--font-size-medium);
        border-radius: var(--border-radius);
    }

    .banner hr {
        height: 50px;
        margin: 20px 0;
    }

    .reward-background {
        height: 80px;
        width: 80px;
    }

    .skill {
        margin: 5cm 0;
        flex-direction: column;
    }

    .skills i {
        font-size: 150px;
    }
}